##### use Python Jupyter and Pandas library to deal with csv like data would be one of the most suitable ways.

In [1]:
import pandas as pd
import collections

In [2]:
df = pd.read_csv('SWE sample data - Q3 data.csv')
df.head()

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

##### Q1

In [3]:
dfq = df.loc[df['country_id'] == 'BDV']
dfq.head()

                     ts user_id country_id site_id
13  2019-02-01 00:47:58  LC3C22        BDV   N0OTG
32  2019-02-01 02:46:15  LC375A        BDV   5NPAU
87  2019-02-01 06:44:42  LC392E        BDV   N0OTG
88  2019-02-01 07:36:56  LC3FAE        BDV   5NPAU
94  2019-02-01 08:58:35  LC3AFF        BDV   3POLC

In [4]:
d = collections.defaultdict(set)
ans = [[], -1]

for i in range(len(dfq)):
    site = dfq.iloc[i]['site_id']
    user = dfq.iloc[i]['user_id']
    d[site].add(user)
    if len(d[site]) > ans[1]:
        ans = [[site], len(d[site])]
    elif len(d[site]) == ans[1]:
        ans[0].append(site)
    
    
print("Which site_id has the largest number of unique users? And what's the number?")
print(ans)

Which site_id has the largest number of unique users? And what's the number?
[['5NPAU'], 544]

##### Q2

In [5]:
dfq = df[(df['ts'] >= '2019-02-03 00:00:00') & (df['ts'] <= '2019-02-04 23:59:59')]
dfq.head()

                       ts user_id country_id site_id
1049  2019-02-03 00:02:31  LC3C7E        TL6   3POLC
1050  2019-02-03 00:03:09  LC3C7E        TL6   3POLC
1051  2019-02-03 00:03:46  LC3C7E        TL6   3POLC
1052  2019-02-03 00:04:12  LC3C7E        TL6   3POLC
1053  2019-02-03 00:04:25  LC3C7E        TL6   3POLC

In [6]:
d = collections.defaultdict(lambda: collections.Counter())
ans = collections.defaultdict(dict)

for i in range(len(dfq)):
    user = dfq.iloc[i]['user_id']
    site = dfq.iloc[i]['site_id']
    d[user][site] += 1
    if d[user][site] > 10:
        ans[user][site] = d[user][site]

In [7]:
print("Find the four users & which sites they (each) visited more than 10 times:")
[[key, ans[key]] for key in ans]

Find the four users & which sites they (each) visited more than 10 times:

[['LC3C7E', {'3POLC': 15}],
 ['LC3A59', {'N0OTG': 26}],
 ['LC06C3', {'N0OTG': 25}],
 ['LC3C9D', {'N0OTG': 17}]]

##### Q3

In [8]:
d1 = {}

for i in range(len(df)):
    user = df.iloc[i]['user_id']
    site = df.iloc[i]['site_id']
    time = df.iloc[i]['ts']
    if user not in d1:
        d1[user] = [time, site]
    if time > d1[user][0]:
        d1[user] = [time, site]
        
d2 = collections.defaultdict(int)
for user in d1:
    site = d1[user][1]
    d2[site] += 1
    
ans = sorted([(k, d2[k]) for k in d2], key=lambda x: x[1], reverse=True)

In [9]:
print("top three sites:")
print(ans)

top three sites:
[('5NPAU', 992), ('N0OTG', 561), ('QGO3G', 289), ('GVOFK', 42), ('3POLC', 28), ('RT9Z6', 2), ('JSUUP', 1), ('EUZ/Q', 1)]

##### Q4

In [10]:
dfq = pd.DataFrame(df, columns=['ts', 'user_id', 'site_id'])
dfq.head()

                    ts user_id site_id
0  2019-02-01 00:01:24  LC36FC   N0OTG
1  2019-02-01 00:10:19  LC39B6   N0OTG
2  2019-02-01 00:21:50  LC3500   N0OTG
3  2019-02-01 00:22:50  LC374F   N0OTG
4  2019-02-01 00:23:44  LCC1C3   QGO3G

In [11]:
d = {}
for i in range(len(dfq)):
    time = dfq.iloc[i]['ts']
    user = dfq.iloc[i]['user_id']
    site = dfq.iloc[i]['site_id']
    if user not in d:
        d[user] = [[time, site], [time, site]]
    if time < d[user][0][0]:
        d[user][0] = [time, site]
    elif time > d[user][1][0]:
        d[user][1] = [time, site]

ans = 0
for user in d:
    if d[user][0][1] == d[user][1][1]:
        ans += 1

In [12]:
print("Compute the number of users whose first/last visits are to the same website. What is the number?")
print(ans)

Compute the number of users whose first/last visits are to the same website. What is the number?
1670